<div class="tabs">
    <ul>
        <li><a href="#breeze-admin-articles">Articles</a></li>
        <li><a href="#breeze-admin-feeds">Feeds</a></li>
        <li><a href="#breeze-admin-pages">Pages</a></li>
    </ul>
    <div id="breeze-admin-articles">
        ...
    </div>
    <div id="breeze-admin-feeds">
        ...
    </div>
    <div id="breeze-admin-pages">
        
        <ul class="ui-widget ui-helper-clearfix">
            <li class="ui-state-default ui-corner-all" title=".ui-icon-plus"><span class="ui-icon ui-icon-plus"></span></li>
        </ul>
        
        <input class="button ui-icon-plus" type="radio" id="radio1" name="radio" /><label for="radio1">Create page</label>
        <input class="button" type="radio" id="radio2" name="radio" /><label for="radio2">Edit page</label>
        <input class="button" type="radio" id="radio3" name="radio" /><label for="radio3">List pages</label>
        
        
        
    </div>
</div>
