<div class="breeze-menu breeze-menu-off ui-tabs">
    <ul class="start ui-tabs-nav ui-helper-reset ui-helper-clearfix">
        <li class="start">
            
            <a class="ui-widget-content ui-state-default ui-corner-bottom" href="#">
                <!-- Matches first element of main-menu -->
                <span class="ui-icon ui-icon-pencil"></span>
            </a>
            
            <ul class="breeze-menu-main ui-helper-hidden ui-widget-content ui-corner-br ui-tabs-nav">
                <li>
                    <a class="ui-state-default ui-corner-top" href="#" title="Edit Mode">
                        <span class="ui-icon ui-icon-pencil"></span>
                    </a>
                </li>
                <li>
                    <a class="ui-state-default ui-corner-top nolink" href="#">
                        <span class="ui-icon ui-icon-person"></span>
                    </a>
                    <ul class="ui-helper-hidden ui-tabs-nav ui-widget-content ui-corner-bottom ui-corner-right">
                        <li>Authentication</li>
                        <li>Authentication</li>
                        <li>Authentication</li>
                        <li>Authentication</li>
                        <li>Authentication</li>
                    </ul>
                </li>
                <li>
                    <a class="ui-state-default ui-corner-top nolink" href="#">
                        <span class="ui-icon ui-icon-comment"></span>
                    </a>
                    <ul class="ui-helper-hidden ui-tabs-nav ui-widget-content ui-corner-bottom ui-corner-right">
                        <li>Articles</li>
                        <li>Articles</li>
                        <li>Articles</li>
                        <li>Articles</li>
                        <li>Articles</li>
                    </ul>
                </li>
                <li>
                    <a class="ui-state-default ui-corner-top nolink" href="#">
                        <span class="ui-icon ui-icon-signal-diag"></span>
                    </a>
                    <ul class="ui-helper-hidden ui-tabs-nav ui-widget-content ui-corner-bottom ui-corner-right">
                        <li>Feeds</li>
                        <li>Feeds</li>
                        <li>Feeds</li>
                        <li>Feeds</li>
                        <li>Feeds</li>
                    </ul>
                </li>
                <li>
                    <a class="ui-state-default ui-corner-top nolink" href="#">
                        <span class="ui-icon ui-icon-document"></span>
                    </a>
                    <ul class="ui-helper-hidden ui-tabs-nav ui-widget-content ui-corner-bottom ui-corner-right">
                        <li>Pages</li>
                        <li>Pages</li>
                    </ul>
                </li>
            </ul>
            
        </li>
    </ul>
</div>