html.no-js .if-js {display: none;}
html.has-js .noscript {display: none;}

body, section {
    padding-top: 60px; /* Push the content below the navbar */
}

.popover-content {
    text-align: justify;
}

.megatron {
    background: none;
}
.megatron h1 {
    font-size: 120px;
}
.megatron h2 {
    font-size: 60px;
    line-height: 70px;
    font-weight: normal;
}
.megatron p {
    font-size: 36px;
    line-height: 45px;
}
.megatron li {
    font-size: 22px;
    line-height: 32px;
}


.sub-header {
    padding-bottom: 12px;
    margin: 18px 0;
    border-bottom: 1px solid #eeeeee;
}
.sub-header h2 {
    line-height: 1;
}


.error-page pre {
    margin: 30px 0 0 0;
}


tr.row-link {
    cursor: pointer;
}


input.datepicker,
input.timepicker {
    
}
