/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

.page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    margin-bottom: 1em;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6,
.page p,
.page ul,
.page ol {
    margin: 1em 0 1em 0;
}

.page ul,
.page ol {
    list-style-position: inside;
}

.page hr {
    border: solid 1px black;
    margin: 1em 0 0 0;
}
.page .last hr {
    margin-right: 2px;
}

.nolink {
    cursor: default !important;
}


/* Tweaks for jquery-ui */
.ui-dialog,
.ui-tabs {
    font-size: 0.65em;
}

.ui-dialog {
    margin: 16px 24px 16px 16px;
}


/* Admin menu */
.breeze-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 !important;
}
.breeze-menu ul {
    list-style: none;
}
.breeze-menu ul.start {
    padding: 0 !important;
}

.breeze-menu-off li.start {
    margin-left: 3px !important;
}
.breeze-menu-off li.start span {
    margin-top: 4px;
}
.breeze-menu-off a {
    border-top: none !important;
}

.breeze-menu-main ul {
    position: absolute !important;
    top: 27px;
    left: 0;
    padding: 0.75em !important;
}
.breeze-menu-main ul li {
    white-space: nowrap;
    float: none !important;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    body {
            
    }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*
    .logo {
        background: url(logo2x.jpg) no-repeat;
        background-size: 212px 303px;
    }
*/

}