{% set form_key = form_registry.get_key(form) %}
<form action="./{{ form_key }}" method="{{ form.method }}" data-form-key="{{ form_key }}" class="form-horizontal">
    <fieldset>

        {% block fields %}
            {% for field in form.fields %}
                {% module FormField(form, field) %}
            {% end %}
        {% end %}

        {% block buttons %}
            {% set has_buttons = bool([button for button in form.buttons if not button.hidden ]) %}
            {% if has_buttons %}
            <div class="form-actions">
                {% for button in form.buttons %}
                    {% module FormButton(form, button) %}
                {% end %}
            </div>
            {% end %}
        {% end %}

    </fieldset>
</form>
