{% extends "modals/base.html" %}

{% block title %}Sign in{% end %}

{% block body %}
    <p>
        <strong>Do you have an account with Google?</strong>
        <br/>
        The only way to register at this time is by signing in with your Google account.
    </p>
    {#<p>
        <strong>Do you have an account with one of the following providers?</strong>
        <br/>
        You can sign in to skip filling out yet another registration form.
    </p>#}
    <p>
        <a class="btn btn-large btn-success" href="/auth/google/?next={{ url_escape(next_url) }}">
        Google
        </a>
    </p>
{% end %}

{% block footer %}
    {#
    {% module LinkModalButton(
        js=js,
        modal='#register',
        next_url=next_url,
        label='Let me register manually <i class="icon-chevron-right icon-white"></i>',
    ) %}
    #}
    {% module CancelModalButton(js=js, next_url=next_url) %}
{% end %}
